@using System.Security.Cryptography
@{
    ViewData["Title"] = "Edytuj test";
    var questions = ViewBag.questions;
    var answers = ViewBag.answers;
}

@{
    foreach (var question in questions)
    {
        <h1>@question.QuestionText</h1>
        foreach (var answer in answers)
        {
            if (answer.QuestionId == question.Id)
            {
                <span>@answer.Content</span>
            }
        }
    }
}

@model SaginPortal.Models.ExamModels.AddQuestionModel


@using (Html.BeginForm("AddQuestion", "Dashboard"))
{
    <div>
        @Html.LabelFor(m => m.QuestionText)
        @Html.TextBoxFor(m => m.QuestionText)
    </div>
    
    <div>
        @Html.LabelFor(m => m.Type)
        @Html.TextBoxFor(m => m.Type)
    </div>
    
    <h4>Answers:</h4>
    <div>
        <div>
            @Html.LabelFor(m => m.Answers[0].Content)
            @Html.TextBoxFor(m => m.Answers[0].Content)
            
            @Html.LabelFor(m => m.Answers[0].IsCorrect)
            @Html.CheckBoxFor(m => m.Answers[0].IsCorrect)
        </div>
        
        <div>
            @Html.LabelFor(m => m.Answers[1].Content)
            @Html.TextBoxFor(m => m.Answers[1].Content)
            
            @Html.LabelFor(m => m.Answers[1].IsCorrect)
            @Html.CheckBoxFor(m => m.Answers[1].IsCorrect)
        </div>
    </div>
    
    <input type="submit" value="Submit" />
}
