@{
    ViewBag.Title = "Panel zarządzania";
    Layout = "_Layout";
}


<div class="row">
    <div class="col-sm-12 col-lg-6" id="exams">
        <div class="dashboard-card">
            <div class="content">
                <div class="row">
                    <div class="col-6">
                        <h2 class="display-5">Moje testy</h2>
                    </div>
                    <div class="legend-border">
                        <div class="legend-item">
                            <div class="legend-icon" style="--color: #deffe1"></div>
                            <span class="legend-text">Aktywny</span>
                        </div>
                        <div class="legend-item">
                            <div class="legend-icon" style="--color: #fffcde"></div>
                            <span class="legend-text">Wsztrzymany</span>
                        </div>
                        <div class="legend-item">
                            <div class="legend-icon" style="--color: #c8c8c8"></div>
                            <span class="legend-text">Nieaktywny</span>
                        </div>
                    </div>
                    <div class="col-6">
                                            
                    </div>
                </div>
                <hr>
                <div class="exams">
                                      
                    @{
                        var exams = ViewBag.exams ?? "";
                        var questions = ViewBag.questions ?? "";
                        var answers = ViewBag.answers ?? "";
                
                
                        if (!exams.Equals("") || !questions.Equals("") || !answers.Equals(""))
                        {
                            for (int i = 0; i < 20; i++)
                            {
                                foreach (var exam in exams)
                                {
                                    <a href="/Dashboard/Exam/@exam.Id">
                                        <div class="test-card">
                                            <span class="test-category">@exam.Category</span>
                                            <span class="test-title">@exam.Name</span>
                                            <span class="test-creation-date">27.01.2022</span>
                                            <div class="test-status test-@exam.Status">
                                                <div class="triangle"></div>
                                            </div>
                                        </div>
                                    </a>
                                }
                            }
                        }
                    }
                </div>
            </div>
            <button class="create-exam-button" onclick="showModal()">Dodaj test</button>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6">
        <div class="card">
            <div class="card-body">
                <h3>Statystyki</h3>

                <p>02/04</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
                
                <p class="text-muted text-decoration-underline">Aktywne testy</p>
                
            </div>
        </div>
        
        <div class="card mt-4">
            <div class="card-body">
                <h3>Statystyki</h3>
        
                <p>02/04</p>
                @* Tutaj stworzyć progressbar *@
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
                        
                <p class="text-muted text-decoration-underline">Aktywne testy</p>
                        
            </div>
        </div>
    </div>
</div>
>



@* <h3>Lista testów:</h3> *@
@* @{ *@
@*      *@
@*     if (!tests.Equals("")|| !questions.Equals("") || !answers.Equals("")) *@
@*     { *@
@*         foreach (var exam in exams) *@
@*         { *@
@*             <h4 class="mb-4 mt-4">@test.Name</h4> *@
@*             foreach (var question in questions) *@
@*             { *@
@*                 if (question.ExamId == test.Id) *@
@*                 { *@
@*                     <h5>@question.QuestionText</h5> *@
@*                     foreach (var answer in answers) *@
@*                     { *@
@*                         if (answer.QuestionId == question.Id) *@
@*                         { *@
@*                             if (answer.IsCorrect) *@
@*                             { *@
@*                                 <span class="text-success">@answer.Content</span><br/> *@
@*                             } *@
@*                             else *@
@*                             { *@
@*                                 <span>@answer.Content</span><br/> *@
@*                             } *@
@*                         } *@
@*                     } *@
@*                 } *@
@*             } *@
@*         } *@
@*     } *@
@* } *@

@* <a asp-action="create" class="btn btn-success"></a> *@